jenkinscheckout/target/classes/jenkinscheckout.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9e10a64f-4267-42c6-a8ee-e6d34834fb49" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinscheckoutFlow" doc:id="f91b063d-9e07-4a3a-bc39-4eeb929bebb7" >
		<http:listener doc:name="Listener" doc:id="ce248a0d-7ca7-4232-9ca3-2489adce17ba" config-ref="HTTP_Listener_config" path="/half"/>
		<set-payload value="Hi Champs" doc:name="Set Payload" doc:id="bf2edea8-7a33-4979-81cb-aaad7ba91976" />
		<logger level="INFO" doc:name="Logger" doc:id="c5064213-1790-4ab9-bf30-d654d19b0add" message="#[payload]"/>
	</flow>
</mule>
